*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: white;
}

/*JUNTA DIRECTIVA*/
.junta-directiva{
  padding: 60px;
  text-align: center;
}

.junta-directiva h2{
  color: #E4A72C;
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 10px;
}

.junta-directiva p{
  color: #1E2A38;
  font-size: 20px;
  font-weight: 600;
  max-width: 900px; 
  margin: 0 auto;
  padding-bottom: 80px;
}

/*CONTENEDOR DIRECTIVOS*/
.junta-container{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  flex-wrap: wrap;
}

/*DIRECTIVOS*/
.presidente, 
.directivo1, 
.directivo2, 
.directivo3, 
.directivo4, 
.directivo5, 
.directivo6{
  width: 330px;
  border-radius: 40px;
  padding: 35px 25px;
  color: #E4A72C;
  background-color: #1E2A38;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.5);
}

.presidente p, 
.directivo1 p, 
.directivo2 p, 
.directivo3 p,
.directivo4 p,
.directivo5 p,
.directivo6 p{
  color: white;
  text-align: center;
}

.junta-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

/*INFORMACION CLUB*/
/*HISTORIA*/
.historia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 40px 100px;
}

.historia h2 {
  font-size: 3rem;
  color: #E4A72C;
  text-transform: uppercase;
  font-weight: 900;
  white-space: nowrap;
}

.historia .divider {
  width: 10px;
  height: 320px;
  background-color: #1E2A38;
}

.historia p {
  max-width: 600px;
  color: #1E2A38;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: justify;
}

/*MISION*/
.mision {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 40px 100px;
}

.mision h2 {
  font-size: 3rem;
  color: #E4A72C;
  text-transform: uppercase;
  font-weight: 900;
  white-space: nowrap;
}

.mision .divider {
  width: 10px;
  height: 320px;
  background-color: #1E2A38;
}

.mision p {
  max-width: 600px;
  color: #1E2A38;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: justify;
}

/*VISION*/
.vision {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 40px 100px;
}

.vision h2 {
  font-size: 3rem;
  color: #E4A72C;
  text-transform: uppercase;
  font-weight: 900;
  white-space: nowrap;
}

.vision .divider {
  width: 10px;
  height: 320px;
  background-color: #1E2A38;
}

.vision p {
  max-width: 600px;
  color: #1E2A38;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: justify;
}

