*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: white;
}

/*BANNERS ACTIVIDADES*/
/*RESTAURANTE*/
.banner1 {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: linear-gradient(to right, rgba(0,0,0,0.55), rgba(0,0,0,0.45)), url("../img/restaurante.jpg");
  background-size: cover;
  background-position: center;
  padding: 12rem;
  box-sizing: border-box;
}

.banner1 h2{
    font-size: 4rem;
    font-weight: 900;
    color: #E4A72C;
}

.banner1 .banner1-texto {
  color: white;
  max-width: 600px;
}

.banner1-texto, p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  transition: 0.3s ease;
}

.banner1-texto:hover{
    transform: scale(1.1);
}

/*EVENTO*/
.banner2 {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  background: linear-gradient(to right, rgba(0,0,0,0.55), rgba(0,0,0,0.45)), url("../img/eventos.png");
  background-size: cover;
  background-position: center;
  padding: 12rem;
  box-sizing: border-box;
}

.banner2 h2{
    font-size: 4rem;
    font-weight: 900;
    color: #E4A72C;
}

.banner2 .banner2-texto {
  color: white;
  max-width: 600px;
}

.banner2-texto, p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  transition: 0.3s ease;
}

.banner2-texto:hover{
    transform: scale(1.1);
}

/*TENIS*/
.banner3 {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: linear-gradient(to right, rgba(0,0,0,0.55), rgba(0,0,0,0.45)), url("../img/tenis.jpg");
  background-size: cover;
  background-position: center;
  padding: 12rem;
  box-sizing: border-box;
}

.banner3 h2{
    font-size: 4rem;
    font-weight: 900;
    color: #E4A72C;
}

.banner3 .banner3-texto {
  color: white;
  max-width: 600px;
}

.banner3-texto, p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  transition: 0.3s ease;
}

.banner3-texto:hover{
    transform: scale(1.1);
}

/*NATACION*/
.banner4 {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  background: linear-gradient(to right, rgba(0,0,0,0.55), rgba(0,0,0,0.45)), url("../img/natacion.jpg");
  background-size: cover;
  background-position: center;
  padding: 12rem;
  box-sizing: border-box;
}

.banner4 h2{
    font-size: 4rem;
    font-weight: 900;
    color: #E4A72C;
}

.banner4 .banner4-texto {
  color: white;
  max-width: 600px;
}

.banner4-texto, p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  transition: 0.3s ease;
}

.banner4-texto:hover{
    transform: scale(1.1);
}

/*FUTBOL*/
.banner5 {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: linear-gradient(to right, rgba(0,0,0,0.55), rgba(0,0,0,0.45)), url("../img/futbol.webp");
  background-size: cover;
  background-position: center;
  padding: 12rem;
  box-sizing: border-box;
}

.banner5 h2{
    font-size: 4rem;
    font-weight: 900;
    color: #E4A72C;
}

.banner5 .banner5-texto {
  color: white;
  max-width: 600px;
}

.banner5-texto, p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  transition: 0.3s ease;
}

.banner5-texto:hover{
    transform: scale(1.1);
}

/*GIMNASIO*/
.banner6 {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  background: linear-gradient(to right, rgba(0,0,0,0.55), rgba(0,0,0,0.45)), url("../img/gimnasio.webp");
  background-size: cover;
  background-position: center;
  padding: 12rem;
  box-sizing: border-box;
}

.banner6 h2{
    font-size: 4rem;
    font-weight: 900;
    color: #E4A72C;
}

.banner6 .banner6-texto {
  color: white;
  max-width: 600px;
}

.banner6-texto, p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  transition: 0.3s ease;
}

.banner6-texto:hover{
    transform: scale(1.1);
}