*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: white;
}

/*BARRA DE NAVEGACION*/

header{
    background: #E4A72C;
    color: white;
}

.navbar{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar-logo h1{
    font-size: 40px;
    font-weight: 900;
}

.navbar-links{
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    list-style: none;
    font-weight: bold;
}

.navbar-links a{
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: 0.2s ease, color 0.2s ease;
}
.navbar a:hover{
    transform: scale(1.2);
    color: #1E2A38;
}

/*FOOTER*/
.footer {
  background-color: #1E2A38;
  color: #60AFC9;
  padding: 60px 8% 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

.footer-section h3 {
  color: #E4A72C;
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 15px;
  border-left: 4px solid #E4A72C;
  padding-left: 10px;
}

.footer-section p {
  line-height: 1.6;
  font-size: 0.95rem;
}

.footer-section a {
  color: #60AFC9;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #E4A72C;
  text-decoration: underline;
}

/* Parte inferior del footer */
.footer-bottom {
  text-align: center;
  padding-top: 25px;
  border-top: 1px solid #60AFC9;
  font-size: 0.9rem;
  opacity: 0.8;
}