* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: white;
  display: flex;
}

/*REGISTRO*/
.registro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registro h2 {
  color: #60AFC9;
  padding: 40px;
  font-size: 3rem;
  font-weight: 900;
}

/*FORMULARIO REGISTRO*/
.form-registro form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding-bottom: 20px;
}

.form-registro label {
  font-size: 1rem;
  font-weight: 900;
  color: #1E2A38;
}

.form-registro input[type="text"],
.form-registro input[type="number"],
.form-registro input[type="email"],
.form-registro input[type="password"] {
  padding: 10px;
  border: 3px solid #E4A72C;
  border-radius: 10px;
  width: 30vw;
  box-sizing: border-box;
  color: #1E2A38;
  font-size: 1rem;
  font-weight: 700;
}

.form-registro input[type="submit"] {
  width: 20vw;
  align-self: center;
  background-color: #60AFC9;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 20px;
}

.form-registro input[type="submit"]:hover {
  background-color: #E4A72C;
  transform: scale(1.1);
}

.form-registro input:focus {
    outline: none;
}

.registro a {
  color: #60AFC9;
  text-decoration: none;
  transition: 0.3s ease;
}

.registro a:hover {
  color: #1E2A38;
}

/*CIRCULO*/
.circulo {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.circulo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #60AFC9;
  border-top-left-radius: 100vh;
  border-bottom-left-radius: 100vh;
}

.circulo-container {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 100%;
}

.circulo-container h3 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 30px;
  color: white;
}

.circulo-container p {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  max-width: 400px;
  margin: auto;
  margin-bottom: 40px;
}

.circulo-container button {
  padding: 20px 55px;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.circulo-container button:hover {
  transform: scale(1.1);
  background-color: #1E2A38;
}
